# Main macros

[gcode_macro START_PRINT]
description: Prepare to printing
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(65)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|float %}
    {% set VOLUME_TEMP = params.VOLUME_TEMP|default(0)|float %}
    {% set OFFSET = params.OFFSET|default(0)|float %}
    {% set NO_PRIME = params.NO_PRIME|default(0)|int %}
    {% set NOZZLE_DIAMETER = params.NOZZLE_DIAMETER|default(0.4)|float %}
    M117 Heating bed
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={VOLUME_TEMP}
    {action_respond_info("Heating bed to %d" % (BED_TEMP))}
    {action_respond_info("Heating chamber to %d" % (VOLUME_TEMP))}
    TEMPERATURE_WAIT SENSOR="heater_generic chamber_heater" MINIMUM={VOLUME_TEMP}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP}
    M300 S1600
    M117 Heating nozzle
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
    {action_respond_info("Heating nozzle to %d" % (EXTRUDER_TEMP))}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}
    M300 S2400
    # G28
    LEVEL_BED
    WIPE_NOZZLE
    {% if NO_PRIME == 0 %}
    PRIME_LINE BED_SIDE=right NOZZLE_DIAMETER={NOZZLE_DIAMETER}
    {% endif %}
    {action_respond_info("Setting GCODE offset to %f" % (OFFSET))}
    SET_GCODE_OFFSET Z={OFFSET}
    G21                                                                                    # Set units to millimeters
    G90																						# Use absolute coordinates
	M83																						# Relative mode for extruder
    RESPOND PREFIX=timelapse MSG=start
    M117

[gcode_macro END_PRINT]
description: Finalise printing
gcode:
    _PARK Z_HOP=20
    TURN_OFF_HEATERS
	M107 ; turn off fan
	M84  ; turn off motors
    M300 S440 P200 ; Make Print Completed Tones
    M300 S660 P250
    M300 S880 P300
    M117 Print complete
    RESPOND PREFIX=timelapse MSG=photo
    RESPOND PREFIX=timelapse MSG=stop
    RESPOND PREFIX=timelapse MSG=create

[gcode_macro LEVEL_BED]
description: Z_TILT and home with probe attached
gcode:
    {% if not "xy" in printer.toolhead.homed_axes %}
        M117 Homing XY
        G28 X Y
    {% endif %}
    Attach_Probe_Lock
    G28 Z
    Z_TILT_ADJUST
    Dock_Probe_Unlock

[gcode_macro LAYER_CHANGE]
description: Take the next timelapse photo
gcode:
	RESPOND PREFIX=timelapse MSG=photo

[gcode_macro WIPE_NOZZLE]
description: Wipes nozzle on the silicone brush
gcode:
    {% if not "xy" in printer.toolhead.homed_axes %}
        M117 Homing XY
        G28 X Y
    {% endif %}
    M117 Wiping nozzle
    {action_respond_info("Wiping nozzle")}
    G1 X318 Y50 F14200
    {% for speed in [1800, 9000] %}
        G1 X318 Y25 F{speed}
        G1 X324 Y25 F{speed}
        G1 X318 Y25 F{speed}
        G1 X318 Y1 F{speed}
        G1 X324 Y1 F{speed}
        G1 X324 Y25 F{speed}
        G1 X318 Y25 F{speed}
        G1 X318 Y45 F{speed}
        G1 X324 Y45 F{speed}
        G1 X324 Y25 F{speed}
        G1 X318 Y25 F{speed}
        G1 X318 Y1 F{speed}
        G1 X318 Y25 F{speed}
    {% endfor %}
    M117

[gcode_macro PRIME_LINE]
description: Prints a narrow rectangle to prime the extruder
gcode:
    {% set bed_side = params.BED_SIDE|default("left") %}
    {% set nozzle_diameter = params.NOZZLE_DIAMETER|default(0.4)|float %}
    {% if bed_side == "right" %}
        {% set x_offset=286.0 %}
    {% else %}
        {% set x_offset=0.0 %}
    {% endif %}
    {% set extrusion_factor = nozzle_diameter / 0.4 %}
    M117 Priming extruder
    {action_respond_info("Prime line on the %s" % (bed_side))}
    G21
    G90
	M82
    G92 E0 ; Reset Extruder
    ; Print priming rectangle on the left edge of the bed
    G11
    G0 F14200 X{10.025 + x_offset} Y234.69 Z0.3
    G11
    G1 F2400 X{7.045 + x_offset} Y234.69 E{0.23044 * extrusion_factor}
    G1 X{7.045 + x_offset} Y85.31 E{11.78197 * extrusion_factor}
    G1 X{10.025 + x_offset} Y85.31 E{12.01241 * extrusion_factor}
    G1 X{10.025 + x_offset} Y234.69 E{23.56394 * extrusion_factor}
    G0 F3600 X{9.725 + x_offset} Y234.69
    G10
    G0 X{9.725 + x_offset} Y234.69 Z3.2
    G92 E0 ; Reset Extruder
    M117

[gcode_macro UNLOAD_FILAMENT]
description: Ejects current filament
gcode:
    M117 Heating up for eject
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=195
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=195
    M300 S440 P200 ; Make Print Completed Tones
    M300 S660 P250
    M300 S880 P300
    # FORM_FILAMENT_TIP
    M117 Ejecting filament
    M82
    G90
    G92 E0 ; Reset Extruder
	G1 E-60 F1200
	G1 E-110 F1200
    G92 E0 ; Reset Extruder
    M400
    M18 ; Disable steppers
	TURN_OFF_HEATERS
    M117

[gcode_macro LOAD_FILAMENT]
description: Loads new filament
gcode:
    M117 Heating up for load
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=235
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=235
    M300 S440 P200 ; Make Print Completed Tones
    M300 S660 P250
    M300 S880 P300
    M117 Loading filament
    M82
    G90
    G92 E0 ; Reset Extruder
	G1 E45 F600
	G1 E75 F600
	G1 E130 F300
	G1 E128 F1200
    G92 E0 ; Reset Extruder
    M400
	TURN_OFF_HEATERS
    M117

[gcode_macro POWER_OFF]
description: Power off the printer
gcode:
    SET_PIN PIN=ps_on VALUE=0

[gcode_macro _bot_data]
variable_lapse_video_size: 0
variable_lapse_filename: 'None'
variable_lapse_path: 'None'
gcode:
    M118 Setting bot lapse variables

[gcode_macro M601]
gcode:
    PAUSE

[gcode_macro M300]
description: PanelDue beep
gcode:
    {% set FREQ = params.S|default(1000)|int %}
    {% set DUR_MS = params.P|default(100)|int %}

    {action_call_remote_method(
        "paneldue_beep",
        frequency=FREQ,
        duration=(DUR_MS / 1000.0)
    )}

[gcode_macro M900]
description: Linear Advance Factor
gcode:
  M117 M900 called with {rawparams}
  {% set K = params.K | default(0, true) | float %}
  SET_PRESSURE_ADVANCE ADVANCE={K}

[gcode_macro M204]
rename_existing: M204.1
gcode:
  {% set f = params.F|default(0.5)|float %}

  {% if 'S' in params %}
    {% set s = params.S|float %}
    SET_VELOCITY_LIMIT ACCEL={s} ACCEL_TO_DECEL={ s * f }
  {% else %}
    {% if 'P' in params %}
      {% set p = params.P|float %}
      {% if 'T' in params %}
        {% set t = params.T|float %}
        {% if p < t %}
          SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
        {% else %}
          SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
        {% endif %}
      {% else %}
        SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
      {% endif %}
    {% elif 'T' in params %}
      {% set t = params.T|float %}
      SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
    {% endif %}
  {% endif %}

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}
